/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}














/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*----------------------GENERAL STYLES---------------------------*/
html {
  font-size: 1em;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-align: left;
  color: #e2e3ed;
}

ul,
ol {
  list-style: none;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
}

.reviews h2,
.faq h2 {
  line-height: 1.875em;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  margin: 20px;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
}

p {
  font-size: 0.875em;
  line-height: 1.125em;
}

address {
  font-style: normal;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

/*--BASE HEADER AND FOOTER STYLES--*/
header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background: #202322
}

header .content-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

}

.header-divider {
  width: 100%;
  height: 1px;
  padding: 10px 0 20px 0;
  color: #3a3a3a;
}

header nav {
  width: 60%;
  font-size: 1.125em;
  font-weight: bold;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin:0;
}

footer {
  background: #202322;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 55%;
}

footer .contact {
  margin-bottom: 50px;
}

footer .contact address {
  font-style: normal;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #527158;
  font-size: 1.3125;
}

footer .copyright {
  margin: 20px 0;
  font-weight: bold;
}

/*-------------------Mobile styles homepage--------------*/
/*------GENERAL STYLES MOBILE------*/

/*------HOMEPAGE MOBILE------*/
/*---Hero Mobile---*/
.hero-area {
  display: flex;
  justify-content: center;
  height: 500px;
}

.hero-area h1 {
  margin: 0;
  font-size: 2.25em;
  line-height: 2.6875em;
  font-weight: 500;
}

/*---Aside Mobile---*/
aside {
  display: flex;
  justify-content: center;
  background: #527158;
}

aside h3 {
  margin-left: 0;
}

input text {
  font-size: 1.125em;
  font-weight: 500;
  color: #2a423a;
}

button {
  color: #2a423a;
}


/*aside .content-wrapper .form text {
  padding:1em;
  margin-bottom: 20px;
}

aside .content-wrapper .form button {
  padding: 20px 0;
}*/

/*---Features Mobile---*/
.features {
  display: flex;
  justify-content: center;
}

.features h2 {
  margin-bottom: 60px;
}

.features article {
  width: 63%;
  margin: 30px 0;
  text-align: center;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.features p {
  margin: 0;
}

.features-icon p {
  font-size: 3.75em;
}


/*---Reviews Mobile---*/
.reviews {
  display: flex;
  justify-content: center;
  background: #2a423a;
}

.reviews h2 {
  margin-bottom: 40px;
  line-height: 1em;
}

.reviews h3 {
  width: 55%;
  margin: 20px 0;
}

/*------ABOUT PAGE MOBILE------*/

.mission {
  display: flex;
  justify-content: center;
  background: #527158;
}

.mission h2 {
  line-height: 1em;
}

.contact-section {
  display: flex;
  justify-content: center;
  background: #2a423a;
}

.contact-content p {
  margin: 0;
}

/*-------FAQ PAGE MOBILE------*/
.faq {
  display: flex;
  justify-content: center;
  background: #527158;
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 50px 0 0 0;
}

.faq h2 {
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 1em;
}

.faq-content div {
  margin-bottom: 50px;
}

.faq-content h4 {
  line-height: 1.5em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


aside .form {
  margin-top: 30px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {

  /*--GENERAL STYLES TABLET--*/
  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  h2 {
    line-height: 3em;
    font-size: 2.25em
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.875em;
  }

  .contact-content h4,
  footer h4 {
    font-size: 1.5em;
  }

  /*--HEADER TABLET--*/
  header {
    padding: 33px 0;
  }

  header .content-wrapper {
    width: 100%;
    justify-content: space-between;
    /*align-items: center;*/
  }

  header nav {
    width: 20%;
  }

  header nav ul {
    justify-content: space-between;
  }

  .header-divider {
    display: none;
  }

  /*--HERO-AREA TABLET--*/
  h1 {
    font-size: 3em;
    line-height: 3em;
  }

  /*--ASIDE TABLET--*/

  aside .content-wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 40%;
    margin: 0;
  }

  /*aside h3 {
    line-height: 1em;
  }*/


  /*--FEATURES TABLET--*/
  .features h2 {
    line-height: 1em;
  }

  .features article {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 50%;
  }

  .features .features-item-description {
    width: 62%;
  }

  /*--REVIEWS TABLET--*/
  .reviews article {
    display: flex;
    justify-content: space-between;
  }

  .reviews h2 {
    line-height: 1em;
    /*padding:0;*/
  }

  /*.reviews h3 {
    line-height: 1em;
    padding: 0;
    width: 100%;
  }*/

  .reviews article div {
    width: 49%;
  }

  /*--FOOTER TABLET--*/
  footer .content-wrapper {
    width: 65%;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer p {
    line-height: 1.125em;
  }

  footer .contact {
    margin-bottom:
      /*100px*/
      0;
  }



  footer .copyright {
    width: 100%;
  }

  /*-===========================================================
ABOUT PAGE TABLET
============================================================-*/
  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
  }

  .mission-content p {
    width: 45%;
  }

  .mission h2 {
    margin: 0;
  }

  .contact-section .content-wrapper h2 {
    width: 80%;
  }

  /*.contact-section h2 {
    line-height: 1em;
    margin:0;
  }*/

  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  /*-===========================================================
FAQ PAGE TABLET 
============================================================-*/
  .faq .content-wrapper {
    justify-content: space-between;
  }

  .faq-content {
    flex-basis: 45%;
  }

  /*.faq-content div {
    margin: 0;
  }*/

  .faq h2 {
    width: 100%;
  }

  .faq h4,
  .faq p {
    font-size: 0.875em;
    line-height: 0.9844em;
  }


  aside .form {
    margin-top: 30px;
  }

  input[type=text] {
    box-sizing: border-box;
    width: 100%;
    color: #2a423a;
    font-style: italic;
    padding: 1em;
  }

  input[type=button] {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #2a423a;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 1200px) {

  /*--GENERAL DESKTOP*/
  .content-wrapper {
    max-width: 960px;
  }

  /* HEADER DESKTOP */
  header {
    padding: 15px 0;
  }

  /* HERO DESKTOP */
  h1 {
    font-size: 3.75em;
    /*line-height: 1em;*/
  }

  h2 {
    font-size: 2.25em;
    /*line-height: 1em;*/
  }

  /*h3 {
    line-height: 1em;
  }*/

  h3,
  h4 {
    font-size: 1.875em;
  }

 

  p {
    line-height: 1.5em;
    font-size: 1.125em;
  }


  /*footer .copyright {
    margin-top: 100px;
  }*/


  /*=============================================================================================
HOMEPAGE DESKTOP
================================================================================================*/
  /*--HERO-AREA--*/
  .hero-area h1 {
    width: 80%;
  }

  /*--ASIDE--*/
  aside .content-wrapper {
    justify-content: space-around;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 30%;
    /*margin: 0;*/
  }

  /*--FEATURES--*/
  .features h2 {
    width: 90%;
  }

  .features article {
    flex-basis: 33%;
  }

  /*--REVIEWS--*/
  .reviews article div {
    width: 42%;
  }

  /*.reviews h3 {
    width: 100%;
    margin:0;
  }*/

  /*===============================================================================
ABOUT PAGE DESKTOP
================================================================================*/
  .mission h2,
  .contact-section .content-wrapper h2 {
    width: 95%;
    font-size: 3em;
  }

  /*===============================================================================
ABOUT FAQ DESKTOP - needed assist
================================================================================*/
  .faq h2 {
    width: 100%;
    font-size: 3em;
  }

  .faq h4 {
  font-size: 1.125em;
  line-height: 1.125em;
}



@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}